USE [kalpana]
GO
/****** Object:  StoredProcedure [dbo].[Get_BindGrid_TaskEntries]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Hrutik Gawdae
-- Create date: <Create Date,,>
-- Get_BindGrid_TaskEntries '100000','2025-06-02'
-- =============================================
CREATE PROCEDURE [dbo].[Get_BindGrid_TaskEntries]
	-- Add the parameters for the stored procedure here
	@UserId varchar(20),
	@TaskDate Date
AS
BEGIN

	SET NOCOUNT ON;

  --SELECT TaskID, TaskDate, Type, WorkCompletion, Description, TimeSpent 
  --                       FROM TaskEntries 
  --                       WHERE UserId = @UserId AND CAST(TaskDate AS DATE) = CAST(@TaskDate AS DATE)----dd-MM-yyyy
   SELECT TaskID, TaskDate, Type, WorkCompletion, Description, TimeSpent 
    FROM TaskEntries 
    WHERE UserId = @UserId AND TaskDate = CAST(@TaskDate AS DATE)
END
GO
/****** Object:  StoredProcedure [dbo].[GetTaskSummaryWithTotal]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--GetTaskSummaryWithTotal '100000','10','2025'
CREATE PROCEDURE [dbo].[GetTaskSummaryWithTotal]
    @UserId INT,
    @Month INT,
    @Year INT
AS
BEGIN
    SET NOCOUNT ON; -- Prevents the message showing the count of rows affected

    -- 1. DETAILED ROWS QUERY (Grouped by status)
    SELECT
        CASE
            WHEN IsHoliday = 'Y' THEN 'Holiday'
            WHEN IsLeave = 'Y' THEN 'Leave'
            WHEN IsWeeklyOff = 'Y' THEN 'Weekly Off'
            WHEN IsCompOff = 'Y' THEN 'Comp Off'
            ELSE 'Work'
        END AS Status,
        COUNT(TaskDate) AS [Total Days],
        ROUND(SUM(DATEDIFF(SECOND, '00:00:00.0000000', TimeSpent) / 3600.0), 2) AS [Total TimeSpent Hours]
    FROM
        kalpana..TaskEntries
    WHERE
        UserId = @UserId
        AND IsApproval = 'Y'
        AND MONTH(TaskDate) = @Month
        AND YEAR(TaskDate) = @Year
    GROUP BY
        CASE
            WHEN IsHoliday = 'Y' THEN 'Holiday'
            WHEN IsLeave = 'Y' THEN 'Leave'
            WHEN IsWeeklyOff = 'Y' THEN 'Weekly Off'
            WHEN IsCompOff = 'Y' THEN 'Comp Off'
            ELSE 'Work'
        END

    UNION ALL

    -- 2. TOTAL ROW QUERY (Aggregates the whole filtered set)
    SELECT
        'Grand Total' AS Status, -- Renamed from 'Total' to 'Grand Total' for clarity
        COUNT(TaskDate) AS [Total Days],
        ROUND(SUM(DATEDIFF(SECOND, '00:00:00.0000000', TimeSpent) / 3600.0), 2) AS [Total TimeSpent Hours]
    FROM
        kalpana..TaskEntries
    WHERE
        UserId = @UserId
        AND IsApproval = 'Y'
        AND MONTH(TaskDate) = @Month
        AND YEAR(TaskDate) = @Year

    -- 3. FINAL ORDERING
    ORDER BY
        [Total Days];
END
GO
/****** Object:  StoredProcedure [dbo].[Ins_Iuser_Data]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Ins_Iuser_Data]
@UserId varchar(20),
@UserLoginName varchar(20),
@UserPIN  varchar(130),
@UserEmailId varchar(50) null,
@UserMobileNo1 varchar(20), 
@DOB date,
@CreatedBy varchar(50),
@Des_Name varchar(100),
@User_type varchar(2)
AS
BEGIN
Declare @getDate datetime,@Des_ID int
set @getDate=getdate()

	INSERT INTO iuser (
UserId,UserStatus,UserLoginName,UserPIN,LastPINChangeDate,LastAccessDate,LogonFailureCount,UserEmailId,UserMobileNo1,LastAttemptDate,
User_type,IneffectiveDate,DOB,CreatedBy,CreatedDtim,UpdatedBy,UpdatedDtim,EffectiveDtim,CurrentLoginDate,PrevLoginDate,AuthType)

VALUES 
( @UserId,0, @UserLoginName, @UserPIN,@getDate,@getDate,0,@UserEmailId ,@UserMobileNo1,@getDate,
@User_type,@getDate,@DOB,@CreatedBy,@getDate ,null,null,null,null,null,'A');

select @Des_ID=Des_ID from MST_designation where Des_Name=@Des_Name

INSERT INTO MAP_designation_UserId (UserId, Des_ID)
    VALUES (@UserId, @Des_ID);

END
GO
/****** Object:  StoredProcedure [dbo].[Ins_Map_designation_UserID_Data]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Ins_Map_designation_UserID_Data]
@UserId varchar(20),
@Des_Name varchar(100)

AS
BEGIN
Declare @getDate datetime,@Des_ID int
set @getDate=getdate()
select @Des_ID=Des_ID from MST_designation where Des_Name=@Des_Name------Wrong Statement 
IF EXISTS (SELECT * FROM MAP_designation_UserId WHERE UserId = @UserId)
BEGIN
    UPDATE MAP_designation_UserId
    SET Des_ID = @Des_Name
    WHERE UserId = @UserId
END
ELSE
BEGIN
    INSERT INTO MAP_designation_UserId (UserId, Des_ID)
    VALUES (@UserId, @Des_Name)
END


END
GO
/****** Object:  StoredProcedure [dbo].[Ins_TaskEntries]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<kalpana>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Ins_TaskEntries]
	-- Add the parameters for the stored procedure here
	@TaskDate date ,
	@Description nvarchar(510), 
	@TimeSpent time,
	@type varchar(50)=NULL ,
	@WorkCompletion varchar(5) = NULL,
	@UserId varchar(20),
	@Flag varchar(2)
AS
BEGIN
	
	SET NOCOUNT ON;
IF @Flag = 'P'
BEGIN
INSERT INTO TaskEntries (TaskDate, Description, TimeSpent,type,WorkCompletion,UserId,IsInYourBucket)
VALUES (@TaskDate, @Description,@TimeSpent ,@type,@WorkCompletion,@UserId,'Y');
End
ELSE IF @Flag = 'A'
begin 
 -- Insert statements for procedure here
INSERT INTO TaskEntries (TaskDate, Description, TimeSpent,type,WorkCompletion,UserId,IsInYourBucket)
VALUES (@TaskDate, @Description,@TimeSpent ,@type,@WorkCompletion,@UserId,'Y');
End
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_GetCalendarStatus]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_GetCalendarStatus]
    @Year INT,
    @Month INT,
    @UserId VARCHAR(20) = Null
AS
BEGIN
    SET NOCOUNT ON;
	--If @UserId IS NULL
	--begin 
	--select DAY(StatusDate) AS DayNumber,
 --       StatusType from CalendarStatus where userId='100000'
	--end
 --   else 
	--begin 
	

	CREATE TABLE #CalendarStatus(
	[StatusDate] [date] NOT NULL,
	[StatusType] [varchar](50) NULL,
	[UserId] [varchar](20) NULL)

	insert into #CalendarStatus 
	SELECT  TaskDate,
    CASE 
        WHEN IsApproval = 'Y' THEN 'Approved'
		WHEN IsApproval = 'N' THEN 'NotApproved'
        WHEN IsPending = 'Y' THEN 'Pending'		
		WHEN IsHoliday = 'Y' THEN 'Holiday'
		WHEN IsLeave = 'Y' THEN 'Leave'
		WHEN IsWeeklyOff = 'Y' THEN 'Weekly Off'
		WHEN IsCompOff = 'Y' THEN 'CompOff'
		WHEN IsInYourBucket = 'Y' THEN 'In your bucket'
    END AS StatusType,
    UserId
FROM TaskEntries;

	SELECT 
        DAY(StatusDate) AS DayNumber,
        StatusType
    FROM 
        #CalendarStatus
    WHERE 
        YEAR(StatusDate) = @Year 
        AND MONTH(StatusDate) = @Month
        AND UserId = @UserId;

		drop table #CalendarStatus
	--end 
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_INS_iUserGrpAcs]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		kalpana
-- Create date: <Create Date,,>
-- Description:	<Description,,>
--PRC_INS_iUserGrpAcs  '100003','4000','kamal gawade'
-- =============================================

CREATE PROCEDURE  [dbo].[PRC_INS_iUserGrpAcs]
	-- Add the parameters for the stored procedure here
	@UserId varchar(20),
	@Module_Id int,
	@CrecatedBy varchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare 
	@CreateDTim datetime
	set @CreateDTim =getdate()
    -- Insert statements for procedure here

IF EXISTS (SELECT * FROM iUserGrpAcs WHERE UserId = @UserId and Module_Id=@Module_Id)
BEGIN
	Update iUserGrpAcs set CrecatedBy=@CrecatedBy,	 CreateDTim=@CreateDTim WHERE UserId = @UserId and Module_Id=@Module_Id
END
ELSE
BEGIN
    insert into iUserGrpAcs
(CarrierCode
,UserId
,Module_Id
,UserGroupCode
,UserGroupName
,Access
,CrecatedBy
,CreateDTim
,UpdatedBy
,UpdateDTim) values 
('99' ,	@UserId, @Module_Id,	'Admin',	'Admin',	'1',	@CrecatedBy,	 @CreateDTim,	NULL	,NULL)

END
	

	
	
END

GO
/****** Object:  StoredProcedure [dbo].[PRC_InsertErrorLog]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[PRC_InsertErrorLog]
    @ErrorMessage NVARCHAR(1000),
    @MethodName NVARCHAR(255),
    @ErrorDateTime DATETIME
AS
BEGIN
    INSERT INTO ErrorLog (ErrorMessage, MethodName, ErrorDateTime)
    VALUES (@ErrorMessage, @MethodName, @ErrorDateTime)
END;
GO
/****** Object:  StoredProcedure [dbo].[PRC_InsertLoginLogout]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_InsertLoginLogout]
    @UserId VARCHAR(20),
    @Action VARCHAR(10),   -- 'LOGIN' or 'LOGOUT'
    @LogDate DATE = NULL,
	@In_Time datetime = NULL,
	@Out_Time datetime = NULL,
	@Work_Place varchar(20)
AS
BEGIN
    SET NOCOUNT ON;

    IF @LogDate IS NULL
        SET @LogDate = CAST(GETDATE() AS DATE);

    IF @Action = 'LOGIN'
    BEGIN
        -- If no open login for today, insert one
        IF NOT EXISTS (
            SELECT 1 FROM UserLogTimes
            WHERE UserId = @UserId AND LogDate = @LogDate AND Out_Time IS NULL
        )
        BEGIN
            INSERT INTO UserLogTimes (UserId, LogDate, In_Time,Work_Place)
            VALUES (@UserId, @LogDate, GETDATE(),@Work_Place);
        END
    END
    ELSE IF @Action = 'LOGOUT'
    BEGIN
        -- Update only if user has open login
        UPDATE UserLogTimes
        SET Out_Time = GETDATE(),Work_Place= @Work_Place
        WHERE UserId = @UserId
          AND LogDate = @LogDate
          AND Out_Time IS NULL;
    END
	ELSE IF @Action = 'Both'
	BEGIN
		IF NOT EXISTS (
            SELECT 1 FROM UserLogTimes
            WHERE UserId = @UserId AND LogDate = @LogDate 
        )
        BEGIN
            INSERT INTO UserLogTimes (UserId, LogDate, In_Time, Out_Time,Work_Place)
            VALUES (@UserId, @LogDate, @In_Time, @Out_Time,@Work_Place);
        END
	END

END;
GO
/****** Object:  StoredProcedure [dbo].[Prc_Lgn_Success]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		kalpana Gawade
-- Create date: <Create Date,,>
-- Description:	login succses or not
-- =============================================
CREATE PROCEDURE [dbo].[Prc_Lgn_Success]
	@UserId varchar(20),
	@UserPIN varchar(130)
AS
BEGIN
	SET NOCOUNT ON;
	
	--select * from iUser where UserId=@UserId and UserPIN=@UserPIN
	Print 'login succses'
	print 'login unsuccses'
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_Modify_TaskEntries]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_Modify_TaskEntries]
    @Flag CHAR(1),
    @TaskID INT = NULL,
    @TaskDate DATE = NULL,
    @Type varchar(50) = NULL,
    @WorkCompletion varchar(5) = NULL,
    @Description NVARCHAR(255) = NULL,
    @TimeSpent TIME = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Flag = 'E'
    BEGIN
        UPDATE TaskEntries
        SET TaskDate = @TaskDate,
            Type = @Type,
            WorkCompletion = @WorkCompletion,
            Description = @Description,
            TimeSpent = @TimeSpent
        WHERE TaskID = @TaskID
    END
    ELSE IF @Flag = 'D'
    BEGIN
        DELETE FROM TaskEntries
        WHERE TaskID = @TaskID
    END
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_ReleaseMonthlySalary]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_ReleaseMonthlySalary]
(
 @UserId VARCHAR(50),
 @Year INT,
 @Month INT,
 @LeaveDays INT,
 @Deduction DECIMAL(10,2)
)
AS
BEGIN
 DECLARE @Gross DECIMAL(10,2)
 DECLARE @Net DECIMAL(10,2)

 SELECT @Gross = MonthlySalary
 FROM Salary WHERE UserId=@UserId AND Year=@Year

 SET @Net = @Gross - @Deduction

 IF NOT EXISTS (
   SELECT 1 FROM SalaryMonthly
   WHERE UserId=@UserId AND Year=@Year AND Month=@Month
 )
 BEGIN
   INSERT INTO SalaryMonthly
   VALUES
   (@UserId,@Year,@Month,@Gross,@LeaveDays,@Deduction,@Net,1,GETDATE())
 END
END



GO
/****** Object:  StoredProcedure [dbo].[PRC_SaveSalary]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_SaveSalary]
(
 @UserId VARCHAR(50),
 @Year INT,
 @BasicSalary DECIMAL(10,2),
 @HRA DECIMAL(10,2),
 @Allowance DECIMAL(10,2),
 @Bonus DECIMAL(10,2)
)
AS
BEGIN
 DECLARE @Annual DECIMAL(12,2)
 DECLARE @Monthly DECIMAL(10,2)

 SET @Annual = (@BasicSalary + @HRA + @Allowance + @Bonus) * 12
 SET @Monthly = @Annual / 12

 IF EXISTS (SELECT 1 FROM Salary WHERE UserId=@UserId AND Year=@Year)
 BEGIN
   UPDATE Salary SET
    BasicSalary=@BasicSalary,
    HRA=@HRA,
    Allowance=@Allowance,
    Bonus=@Bonus,
    AnnualIncome=@Annual,
    MonthlySalary=@Monthly
   WHERE UserId=@UserId AND Year=@Year
 END
 ELSE
 BEGIN
   INSERT INTO Salary VALUES
   (@UserId,@Year,@BasicSalary,@HRA,@Allowance,@Bonus,@Annual,@Monthly)
 END
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_SendForApproval]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_SendForApproval]
    @UserId VARCHAR(20),
    @TaskDate DATE,
    @ResultMessage NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Step 1: Check if already sent for approval
    IF EXISTS (
        SELECT 1 
        FROM TaskEntries 
        WHERE UserId = @UserId 
          AND CAST(TaskDate AS DATE) = @TaskDate 
          AND IsSendForApproval = 'Y'
    )
    BEGIN
        SET @ResultMessage = 'Already sent for approval!';
        RETURN;
    END

    -- Step 2: Get Description
    DECLARE @Description VARCHAR(100);

    SELECT TOP 1 @Description = LTRIM(RTRIM(LOWER(Description)))
    FROM TaskEntries
    WHERE UserId = @UserId AND CAST(TaskDate AS DATE) = @TaskDate;

    -- Step 3: Based on Description, update appropriate flag only
    IF @Description = 'holiday'
    BEGIN
        UPDATE TaskEntries
        SET IsHoliday = 'Y',IsSendForApproval = 'Y'
        WHERE UserId = @UserId AND CAST(TaskDate AS DATE) = @TaskDate;

        SET @ResultMessage = 'Holiday marked.';
    END
    ELSE IF @Description = 'leave'
    BEGIN
        UPDATE TaskEntries
        SET IsLeave = 'Y',IsSendForApproval = 'Y'
        WHERE UserId = @UserId AND CAST(TaskDate AS DATE) = @TaskDate;

        SET @ResultMessage = 'Leave marked.';
    END
    ELSE IF @Description = 'weekly'
    BEGIN
        UPDATE TaskEntries
        SET IsWeeklyOff = 'Y',IsSendForApproval = 'Y'
        WHERE UserId = @UserId AND CAST(TaskDate AS DATE) = @TaskDate;

        SET @ResultMessage = 'Weekly off marked.';
    END
    ELSE IF @Description = 'comp'
    BEGIN
        UPDATE TaskEntries
        SET IsCompOff = 'Y',IsSendForApproval = 'Y'
        WHERE UserId = @UserId AND CAST(TaskDate AS DATE) = @TaskDate;

        SET @ResultMessage = 'Comp-off marked.';
    END
    ELSE IF @Description IS NOT NULL AND @Description <> ''
    BEGIN
        UPDATE TaskEntries
        SET IsPending = 'Y',IsSendForApproval = 'Y'
        WHERE UserId = @UserId AND CAST(TaskDate AS DATE) = @TaskDate;

        SET @ResultMessage = 'Other entry marked as pending.';
    END
    ELSE
    BEGIN
        SET @ResultMessage = 'No valid description found to mark.';
    END
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_UpdateMultipleTaskApproval]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_UpdateMultipleTaskApproval]
    @TaskIDs NVARCHAR(MAX),
    @UserID NVARCHAR(20),
    @IsApproved CHAR(1)
AS
BEGIN
    SET NOCOUNT ON;

    -- Split comma-separated TaskIDs into a table variable
    DECLARE @IDs TABLE (TaskID INT);
    DECLARE @xml XML = '<i>' + REPLACE(@TaskIDs, ',', '</i><i>') + '</i>';

    INSERT INTO @IDs (TaskID)
    SELECT t.value('.', 'INT') FROM @xml.nodes('/i') AS x(t);

    -- Update approval status for all selected TaskIDs for this user
    UPDATE T
    SET T.IsApproval = @IsApproved
    FROM TaskEntries T
    INNER JOIN @IDs I ON T.TaskID = I.TaskID
    WHERE T.UserID = @UserID;
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_UpdateTaskApproval]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_UpdateTaskApproval]
    @TaskID INT,
    @IsApproved BIT
AS
BEGIN
    SET NOCOUNT ON;

    UPDATE TaskEntries
    SET IsApproval = CASE WHEN @IsApproved = 1 THEN 'Y' ELSE 'N' END
    WHERE TaskID = @TaskID;
END;
GO
/****** Object:  StoredProcedure [dbo].[PRCGET_UserLogin_N_Page_Name]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		kalpana
--- PRCGET_UserLogin_N_Page_Name '100001'
-- =============================================
CREATE PROCEDURE [dbo].[PRCGET_UserLogin_N_Page_Name]
-- Add the parameters for the stored procedure here
	@UserId varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	  




IF OBJECT_ID('tempdb..#temp') IS NOT NULL
    DROP TABLE #temp;

SELECT DISTINCT M.Page_name, M.ModuleID
INTO #temp
FROM iUserGrpAcs AS U
INNER JOIN iModule AS M ON M.ModuleID = U.Module_Id
INNER JOIN iUser AS I ON I.UserId = U.UserId
WHERE U.UserId = @UserId
AND M.ParentModuleID IS NULL
ORDER BY M.ModuleID;

SELECT Page_name FROM #temp;


END
GO
/****** Object:  StoredProcedure [dbo].[search_userdetail]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[search_userdetail]
    @UserId VARCHAR(50) = NULL,
    @UserLoginName VARCHAR(50) = NULL,
	 @Status NVARCHAR(20) = NULL
AS
BEGIN
    PRINT 'UserId = ' + ISNULL(@UserId, 'NULL');
    PRINT 'UserLoginName = ' + ISNULL(@UserLoginName, 'NULL');


    IF (@Status IS  not NULL)
    BEGIN
        SELECT UserId, UserLoginName ,
		CASE
            WHEN LogonFailureCount < 3
                 AND LastPINChangeDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND LastAccessDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND (IneffectiveDate IS NULL OR IneffectiveDate > CAST(GETDATE() AS DATE))
            THEN 'Active'
            ELSE 'Inactive'
        END AS Status into #temp
        FROM iUser 
        
		select * from #temp WHERE  Status = @Status;
		drop table #temp 
    END
    ELSE IF (@UserLoginName IS NULL OR @UserLoginName = '')
    BEGIN
        SELECT UserId, UserLoginName ,
		CASE
            WHEN LogonFailureCount < 3
                 AND LastPINChangeDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND LastAccessDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND (IneffectiveDate IS NULL OR IneffectiveDate > CAST(GETDATE() AS DATE))
            THEN 'Active'
            ELSE 'Inactive'
        END AS Status
        FROM iUser 
        WHERE (@UserId IS NULL OR UserId = @UserId)
    END
    ELSE IF (@UserId IS NULL OR @UserId = '')
    BEGIN
        SELECT UserId, UserLoginName ,
		CASE
            WHEN LogonFailureCount < 3
                 AND LastPINChangeDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND LastAccessDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND (IneffectiveDate IS NULL OR IneffectiveDate > CAST(GETDATE() AS DATE))
            THEN 'Active'
            ELSE 'Inactive'
        END AS Status
        FROM iUser 
        WHERE (@UserLoginName IS NULL OR UserLoginName LIKE '%' + @UserLoginName + '%');
    END


    ELSE
    BEGIN
        SELECT UserId, UserLoginName  ,
		CASE
            WHEN LogonFailureCount < 3
                 AND LastPINChangeDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND LastAccessDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND (IneffectiveDate IS NULL OR IneffectiveDate > CAST(GETDATE() AS DATE))
            THEN 'Active'
            ELSE 'Inactive'
        END AS Status
        FROM iUser 
        WHERE        (@UserId IS NULL OR UserId = @UserId)
        AND (@UserLoginName IS NULL OR UserLoginName LIKE '%' + @UserLoginName + '%');

    END
END;
GO
/****** Object:  StoredProcedure [dbo].[UpdateEmployeeManager]    Script Date: 3/7/2026 6:16:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateEmployeeManager]
    @EmployeeId NVARCHAR(50),
    @ManagerId NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CreateDTim DATETIME = GETDATE();

    -- Update manager for the user
    UPDATE iuser
    SET ManagerId = @ManagerId
    WHERE UserId = @EmployeeId;

    -- Insert into iUserGrpAcs
    ---------------------------------Manger Is User So take rights for Manger
	IF EXISTS (SELECT * FROM iUserGrpAcs WHERE UserId = @ManagerId and Module_Id='5000')
BEGIN
   Update iUserGrpAcs set CreateDTim=@CreateDTim WHERE UserId = @ManagerId and Module_Id='5000'
END
ELSE
BEGIN
	INSERT INTO iUserGrpAcs
    (
        CarrierCode,UserId,Module_Id,UserGroupCode,UserGroupName,Access,CrecatedBy,CreateDTim,UpdatedBy,UpdateDTim
    )
    VALUES
    (
        '99',@ManagerId,'5000','Admin','Admin','1','BotCrecatedBy',@CreateDTim,NULL,NULL
    );
END
-------------------------------------Des_ID  
IF EXISTS (SELECT * FROM MAP_designation_UserId WHERE UserId = @ManagerId)
BEGIN
    UPDATE MAP_designation_UserId
    SET Des_ID = '6'
    WHERE UserId = @ManagerId
END
ELSE
BEGIN
    INSERT INTO MAP_designation_UserId (UserId, Des_ID)
    VALUES (@ManagerId, '6')
END

END



GO
