USE [kalpana]
GO
/****** Object:  Table [dbo].[CalendarStatus]    Script Date: 3/7/2026 6:07:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalendarStatus](
	[StatusDate] [date] NOT NULL,
	[StatusType] [varchar](50) NULL,
	[UserId] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EmployeeHolidays]    Script Date: 3/7/2026 6:07:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeeHolidays](
	[HolidayID] [int] IDENTITY(1,1) NOT NULL,
	[HolidayDate] [date] NOT NULL,
	[HolidayName] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[HolidayID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 3/7/2026 6:07:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[ErrorId] [int] IDENTITY(1000,1) NOT NULL,
	[ErrorMessage] [nvarchar](1000) NULL,
	[MethodName] [nvarchar](255) NULL,
	[ErrorDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ErrorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[iModule]    Script Date: 3/7/2026 6:07:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iModule](
	[ModuleID] [int] NOT NULL,
	[ModuleCode] [varchar](100) NULL,
	[ParentModuleID] [int] NULL,
	[RootModuleID] [int] NULL,
	[ModuleName] [varchar](100) NULL,
	[ModuleSequence] [int] NULL,
	[ModuleStatus] [int] NULL,
	[ModuleLevel] [int] NULL,
	[TargetName] [varchar](100) NULL,
	[CarrierCode] [int] NULL,
	[AppID] [int] NULL,
	[Page_name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[iUser]    Script Date: 3/7/2026 6:07:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iUser](
	[UserId] [varchar](20) NOT NULL,
	[UserStatus] [smallint] NULL,
	[UserLoginName] [varchar](20) NULL,
	[UserPIN] [varchar](130) NULL,
	[LastPINChangeDate] [datetime] NULL,
	[LastAccessDate] [datetime] NULL,
	[LogonFailureCount] [int] NULL,
	[UserEmailId] [varchar](50) NULL,
	[UserMobileNo1] [varchar](20) NULL,
	[LastAttemptDate] [datetime] NULL,
	[IneffectiveDate] [datetime] NULL,
	[DOB] [date] NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedDtim] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[UpdatedDtim] [datetime] NULL,
	[EffectiveDtim] [datetime] NULL,
	[CurrentLoginDate] [datetime] NULL,
	[PrevLoginDate] [datetime] NULL,
	[AuthType] [varchar](5) NULL,
	[ManagerId] [varchar](20) NULL,
	[User_type] [varchar](2) NULL,
 CONSTRAINT [PK_iUser_1] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[iUserGrpAcs]    Script Date: 3/7/2026 6:07:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iUserGrpAcs](
	[Mapping_Code] [int] IDENTITY(5000,1) NOT NULL,
	[CarrierCode] [int] NULL,
	[UserId] [varchar](20) NOT NULL,
	[Module_Id] [int] NOT NULL,
	[UserGroupCode] [varchar](20) NULL,
	[UserGroupName] [varchar](20) NULL,
	[Access] [varchar](20) NULL,
	[CrecatedBy] [varchar](50) NULL,
	[CreateDTim] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[UpdateDTim] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAP_designation_UserId]    Script Date: 3/7/2026 6:07:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAP_designation_UserId](
	[MAP_Code] [int] IDENTITY(500,1) NOT NULL,
	[UserId] [varchar](20) NULL,
	[Des_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_designation]    Script Date: 3/7/2026 6:07:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_designation](
	[Des_ID] [int] IDENTITY(1,1) NOT NULL,
	[Des_Name] [varchar](50) NULL,
 CONSTRAINT [PK_MST_designation] PRIMARY KEY CLUSTERED 
(
	[Des_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NoticeBoard]    Script Date: 3/7/2026 6:07:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NoticeBoard](
	[NoticeID] [int] IDENTITY(1,1) NOT NULL,
	[NoticeText] [varchar](500) NULL,
	[CreatedDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NoticeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payroll]    Script Date: 3/7/2026 6:07:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payroll](
	[PayrollID] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [varchar](20) NOT NULL,
	[PayrollMonth] [char](7) NOT NULL,
	[TotalApprovedHours] [decimal](10, 2) NULL,
	[BasicSalary] [decimal](18, 2) NOT NULL,
	[HRA] [decimal](18, 2) NULL,
	[Allowance] [decimal](18, 2) NULL,
	[Bonus] [decimal](18, 2) NULL,
	[Deductions] [decimal](18, 2) NULL,
	[GrossSalary]  AS ((([BasicSalary]+[HRA])+[Allowance])+isnull([Bonus],(0))),
	[NetSalary]  AS (((([BasicSalary]+[HRA])+[Allowance])+isnull([Bonus],(0)))-isnull([Deductions],(0))),
	[Status] [varchar](20) NULL,
	[CreatedDate] [datetime] NULL,
	[ApprovedDate] [datetime] NULL,
	[PaidDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[PayrollID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Salary]    Script Date: 3/7/2026 6:07:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Salary](
	[UserId] [varchar](50) NOT NULL,
	[Year] [int] NOT NULL,
	[BasicSalary] [decimal](10, 2) NULL,
	[HRA] [decimal](10, 2) NULL,
	[Allowance] [decimal](10, 2) NULL,
	[Bonus] [decimal](10, 2) NULL,
	[AnnualIncome] [decimal](12, 2) NULL,
	[MonthlySalary] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[Year] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SalaryMonthly]    Script Date: 3/7/2026 6:07:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SalaryMonthly](
	[UserId] [varchar](50) NOT NULL,
	[Year] [int] NOT NULL,
	[Month] [int] NOT NULL,
	[GrossSalary] [decimal](10, 2) NULL,
	[LeaveDays] [int] NULL,
	[Deduction] [decimal](10, 2) NULL,
	[NetSalary] [decimal](10, 2) NULL,
	[IsReleased] [bit] NULL,
	[ReleasedOn] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[Year] ASC,
	[Month] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskEntries]    Script Date: 3/7/2026 6:07:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskEntries](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[TaskDate] [date] NULL,
	[Description] [nvarchar](255) NULL,
	[TimeSpent] [time](7) NULL,
	[Type] [varchar](50) NULL,
	[WorkCompletion] [varchar](5) NULL,
	[UserId] [varchar](20) NULL,
	[IsSendForApproval] [char](1) NOT NULL,
	[IsPending] [char](1) NOT NULL,
	[IsInYourBucket] [char](1) NOT NULL,
	[IsHoliday] [char](1) NOT NULL,
	[IsLeave] [char](1) NOT NULL,
	[IsWeeklyOff] [char](1) NOT NULL,
	[IsCompOff] [char](1) NOT NULL,
	[IsApproval] [char](1) NULL,
 CONSTRAINT [PK__TaskEntr__7C6949D182ADB902] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserLogTimes]    Script Date: 3/7/2026 6:07:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserLogTimes](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[LogDate] [date] NOT NULL,
	[In_Time] [datetime] NULL,
	[Out_Time] [datetime] NULL,
	[UserId] [varchar](20) NULL,
	[Work_Place] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[NoticeBoard] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Payroll] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Payroll] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[SalaryMonthly] ADD  DEFAULT ((0)) FOR [IsReleased]
GO
ALTER TABLE [dbo].[TaskEntries] ADD  DEFAULT ('N') FOR [IsSendForApproval]
GO
ALTER TABLE [dbo].[TaskEntries] ADD  DEFAULT ('N') FOR [IsPending]
GO
ALTER TABLE [dbo].[TaskEntries] ADD  DEFAULT ('N') FOR [IsInYourBucket]
GO
ALTER TABLE [dbo].[TaskEntries] ADD  DEFAULT ('N') FOR [IsHoliday]
GO
ALTER TABLE [dbo].[TaskEntries] ADD  DEFAULT ('N') FOR [IsLeave]
GO
ALTER TABLE [dbo].[TaskEntries] ADD  DEFAULT ('N') FOR [IsWeeklyOff]
GO
ALTER TABLE [dbo].[TaskEntries] ADD  DEFAULT ('N') FOR [IsCompOff]
GO
ALTER TABLE [dbo].[iUserGrpAcs]  WITH CHECK ADD  CONSTRAINT [FK_iUserGrpAcs_iModule] FOREIGN KEY([Module_Id])
REFERENCES [dbo].[iModule] ([ModuleID])
GO
ALTER TABLE [dbo].[iUserGrpAcs] CHECK CONSTRAINT [FK_iUserGrpAcs_iModule]
GO
ALTER TABLE [dbo].[iUserGrpAcs]  WITH CHECK ADD  CONSTRAINT [FK_iUserGrpAcs_iUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[iUser] ([UserId])
GO
ALTER TABLE [dbo].[iUserGrpAcs] CHECK CONSTRAINT [FK_iUserGrpAcs_iUser]
GO
ALTER TABLE [dbo].[MAP_designation_UserId]  WITH CHECK ADD  CONSTRAINT [FK_MAP_designation_UserId_iUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[iUser] ([UserId])
GO
ALTER TABLE [dbo].[MAP_designation_UserId] CHECK CONSTRAINT [FK_MAP_designation_UserId_iUser]
GO
ALTER TABLE [dbo].[MAP_designation_UserId]  WITH CHECK ADD  CONSTRAINT [FK_MAP_designation_UserId_MST_designation] FOREIGN KEY([Des_ID])
REFERENCES [dbo].[MST_designation] ([Des_ID])
GO
ALTER TABLE [dbo].[MAP_designation_UserId] CHECK CONSTRAINT [FK_MAP_designation_UserId_MST_designation]
GO
ALTER TABLE [dbo].[MST_designation]  WITH CHECK ADD  CONSTRAINT [FK_MST_designation_MST_designation] FOREIGN KEY([Des_ID])
REFERENCES [dbo].[MST_designation] ([Des_ID])
GO
ALTER TABLE [dbo].[MST_designation] CHECK CONSTRAINT [FK_MST_designation_MST_designation]
GO
