USE [kalpana]
GO
/****** Object:  StoredProcedure [dbo].[UpdateEmployeeManager]    Script Date: 19-10-2025 19:06:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[UpdateEmployeeManager]
    @EmployeeId NVARCHAR(50),
    @ManagerId NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CreateDTim DATETIME = GETDATE();

    -- Update manager for the user
    UPDATE iuser
    SET ManagerId = @ManagerId
    WHERE UserId = @EmployeeId;

    -- Insert into iUserGrpAcs
    ---------------------------------Manger Is User So take rights for Manger
	IF EXISTS (SELECT * FROM iUserGrpAcs WHERE UserId = @ManagerId and Module_Id='5000')
BEGIN
   Update iUserGrpAcs set CreateDTim=@CreateDTim WHERE UserId = @ManagerId and Module_Id='5000'
END
ELSE
BEGIN
	INSERT INTO iUserGrpAcs
    (
        CarrierCode,UserId,Module_Id,UserGroupCode,UserGroupName,Access,CrecatedBy,CreateDTim,UpdatedBy,UpdateDTim
    )
    VALUES
    (
        '99',@ManagerId,'5000','Admin','Admin','1','BotCrecatedBy',@CreateDTim,NULL,NULL
    );
END
-------------------------------------Des_ID  
IF EXISTS (SELECT * FROM MAP_designation_UserId WHERE UserId = @ManagerId)
BEGIN
    UPDATE MAP_designation_UserId
    SET Des_ID = '6'
    WHERE UserId = @ManagerId
END
ELSE
BEGIN
    INSERT INTO MAP_designation_UserId (UserId, Des_ID)
    VALUES (@ManagerId, '6')
END

END



GO

/****** Object:  StoredProcedure [dbo].[PRC_INS_iUserGrpAcs]    Script Date: 19-10-2025 18:17:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		kalpana
-- Create date: <Create Date,,>
-- Description:	<Description,,>
--PRC_INS_iUserGrpAcs  '100003','4000','kamal gawade'
-- =============================================

ALTER PROCEDURE  [dbo].[PRC_INS_iUserGrpAcs]
	-- Add the parameters for the stored procedure here
	@UserId varchar(20),
	@Module_Id int,
	@CrecatedBy varchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare 
	@CreateDTim datetime
	set @CreateDTim =getdate()
    -- Insert statements for procedure here

IF EXISTS (SELECT * FROM iUserGrpAcs WHERE UserId = @UserId and Module_Id=@Module_Id)
BEGIN
	Update iUserGrpAcs set CrecatedBy=@CrecatedBy,	 CreateDTim=@CreateDTim WHERE UserId = @UserId and Module_Id=@Module_Id
END
ELSE
BEGIN
    insert into iUserGrpAcs
(CarrierCode
,UserId
,Module_Id
,UserGroupCode
,UserGroupName
,Access
,CrecatedBy
,CreateDTim
,UpdatedBy
,UpdateDTim) values 
('99' ,	@UserId, @Module_Id,	'Admin',	'Admin',	'1',	@CrecatedBy,	 @CreateDTim,	NULL	,NULL)

END
	

	
	
END

