---Hrutik
USE [kalpana]
GO
/****** Object:  StoredProcedure [dbo].[Get_BindGrid_TaskEntries]    Script Date: 7/18/2025 11:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Hrutik Gawdae
-- Create date: <Create Date,,>
-- Get_BindGrid_TaskEntries '100000','2025-06-02'
-- =============================================
CREATE PROCEDURE [dbo].[Get_BindGrid_TaskEntries]
	-- Add the parameters for the stored procedure here
	@UserId varchar(20),
	@TaskDate Date
AS
BEGIN

	SET NOCOUNT ON;

  --SELECT TaskID, TaskDate, Type, WorkCompletion, Description, TimeSpent 
  --                       FROM TaskEntries 
  --                       WHERE UserId = @UserId AND CAST(TaskDate AS DATE) = CAST(@TaskDate AS DATE)----dd-MM-yyyy
   SELECT TaskID, TaskDate, Type, WorkCompletion, Description, TimeSpent 
    FROM TaskEntries 
    WHERE UserId = @UserId AND TaskDate = CAST(@TaskDate AS DATE)
END
GO
/****** Object:  StoredProcedure [dbo].[Ins_Iuser_Data]    Script Date: 11/8/2025 11:05:17 PM ******/
--Ins_Iuser_Data '100043','Hrutik','aa','hrutikg@gmail.com','7665655667','2025-06-17','kamal gawade','0','I'
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[Ins_Iuser_Data]
@UserId varchar(20),
@UserLoginName varchar(20),
@UserPIN  varchar(130),
@UserEmailId varchar(50) null,
@UserMobileNo1 varchar(20), 
@DOB date,
@CreatedBy varchar(50),
@Des_Name varchar(100),
@User_type varchar(2)
AS
BEGIN
Declare @getDate datetime,@Des_ID int
set @getDate=getdate()

	INSERT INTO iuser (
UserId,UserStatus,UserLoginName,UserPIN,LastPINChangeDate,LastAccessDate,LogonFailureCount,UserEmailId,UserMobileNo1,LastAttemptDate,
User_type,IneffectiveDate,DOB,CreatedBy,CreatedDtim,UpdatedBy,UpdatedDtim,EffectiveDtim,CurrentLoginDate,PrevLoginDate,AuthType)

VALUES 
( @UserId,0, @UserLoginName, @UserPIN,@getDate,@getDate,0,@UserEmailId ,@UserMobileNo1,@getDate,
@User_type,@getDate,@DOB,@CreatedBy,@getDate ,null,null,null,null,null,'A');

select @Des_ID=Des_ID from MST_designation where Des_Name=@Des_Name

INSERT INTO MAP_designation_UserId (UserId, Des_ID)
    VALUES (@UserId, @Des_ID);

END
GO
/****** Object:  StoredProcedure [dbo].[Ins_TaskEntries]    Script Date: 7/18/2025 11:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<kalpana>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[Ins_TaskEntries]
	-- Add the parameters for the stored procedure here
	@TaskDate date ,
	@Description nvarchar(510), 
	@TimeSpent time,
	@type varchar(50)=NULL ,
	@WorkCompletion varchar(5) = NULL,
	@UserId varchar(20),
	@Flag varchar(2)
AS
BEGIN
	
	SET NOCOUNT ON;
IF @Flag = 'P'
BEGIN
INSERT INTO TaskEntries (TaskDate, Description, TimeSpent,type,WorkCompletion,UserId,IsInYourBucket)
VALUES (@TaskDate, @Description,@TimeSpent ,@type,@WorkCompletion,@UserId,'Y');
End
ELSE IF @Flag = 'A'
begin 
 -- Insert statements for procedure here
INSERT INTO TaskEntries (TaskDate, Description, TimeSpent,type,WorkCompletion,UserId,IsInYourBucket)
VALUES (@TaskDate, @Description,@TimeSpent ,@type,@WorkCompletion,@UserId,'Y');
End
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_GetCalendarStatus]    Script Date: 7/18/2025 11:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_GetCalendarStatus]
    @Year INT,
    @Month INT,
    @UserId VARCHAR(20) = Null
AS
BEGIN
    SET NOCOUNT ON;
	--If @UserId IS NULL
	--begin 
	--select DAY(StatusDate) AS DayNumber,
 --       StatusType from CalendarStatus where userId='100000'
	--end
 --   else 
	--begin 
	

	CREATE TABLE #CalendarStatus(
	[StatusDate] [date] NOT NULL,
	[StatusType] [varchar](50) NULL,
	[UserId] [varchar](20) NULL)

	insert into #CalendarStatus 
	SELECT  TaskDate,
    CASE 
        WHEN IsSendForApproval = 'Y' THEN 'Approved'
        WHEN IsPending = 'Y' THEN 'Pending'		
		WHEN IsHoliday = 'Y' THEN 'Holiday'
		WHEN IsLeave = 'Y' THEN 'Leave'
		WHEN IsWeeklyOff = 'Y' THEN 'Weekly Off'
		WHEN IsCompOff = 'Y' THEN 'CompOff'
		WHEN IsInYourBucket = 'Y' THEN 'In your bucket'
    END AS StatusType,
    UserId
FROM TaskEntries;

	SELECT 
        DAY(StatusDate) AS DayNumber,
        StatusType
    FROM 
        #CalendarStatus
    WHERE 
        YEAR(StatusDate) = @Year 
        AND MONTH(StatusDate) = @Month
        AND UserId = @UserId;

		drop table #CalendarStatus
	--end 
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_INS_iUserGrpAcs]    Script Date: 7/18/2025 11:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		kalpana
-- Create date: <Create Date,,>
-- Description:	<Description,,>
--PRC_INS_iUserGrpAcs  '100003','4000','kamal gawade'
-- =============================================

CREATE PROCEDURE  [dbo].[PRC_INS_iUserGrpAcs]
	-- Add the parameters for the stored procedure here
	@UserId varchar(20),
	@Module_Id int,
	@CrecatedBy varchar(50)

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	declare 
	@CreateDTim datetime
	set @CreateDTim =getdate()
    -- Insert statements for procedure here
	insert into iUserGrpAcs
(CarrierCode
,UserId
,Module_Id
,UserGroupCode
,UserGroupName
,Access
,CrecatedBy
,CreateDTim
,UpdatedBy
,UpdateDTim) values 
('99' ,	@UserId, @Module_Id,	'Admin',	'Admin',	'1',	@CrecatedBy,	 @CreateDTim,	NULL	,NULL)

END
GO
/****** Object:  StoredProcedure [dbo].[PRC_InsertErrorLog]    Script Date: 7/18/2025 11:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

 CREATE PROCEDURE [dbo].[PRC_InsertErrorLog]
    @ErrorMessage NVARCHAR(1000),
    @MethodName NVARCHAR(255),
    @ErrorDateTime DATETIME
AS
BEGIN
    INSERT INTO ErrorLog (ErrorMessage, MethodName, ErrorDateTime)
    VALUES (@ErrorMessage, @MethodName, @ErrorDateTime)
END;
GO
/****** Object:  StoredProcedure [dbo].[Prc_Lgn_Success]    Script Date: 7/18/2025 11:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		kalpana Gawade
-- Create date: <Create Date,,>
-- Description:	login succses or not
-- =============================================
CREATE PROCEDURE [dbo].[Prc_Lgn_Success]
	@UserId varchar(20),
	@UserPIN varchar(130)
AS
BEGIN
	SET NOCOUNT ON;
	
	--select * from iUser where UserId=@UserId and UserPIN=@UserPIN
	Print 'login succses'
	print 'login unsuccses'
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_Modify_TaskEntries]    Script Date: 7/18/2025 11:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_Modify_TaskEntries]
    @Flag CHAR(1),
    @TaskID INT = NULL,
    @TaskDate DATE = NULL,
    @Type varchar(50) = NULL,
    @WorkCompletion varchar(5) = NULL,
    @Description NVARCHAR(255) = NULL,
    @TimeSpent TIME = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF @Flag = 'E'
    BEGIN
        UPDATE TaskEntries
        SET TaskDate = @TaskDate,
            Type = @Type,
            WorkCompletion = @WorkCompletion,
            Description = @Description,
            TimeSpent = @TimeSpent
        WHERE TaskID = @TaskID
    END
    ELSE IF @Flag = 'D'
    BEGIN
        DELETE FROM TaskEntries
        WHERE TaskID = @TaskID
    END
END
GO
/****** Object:  StoredProcedure [dbo].[PRC_SendForApproval]    Script Date: 7/18/2025 11:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[PRC_SendForApproval]
    @UserId VARCHAR(20),
    @TaskDate DATE,
    @ResultMessage NVARCHAR(200) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;

    -- Step 1: Check if already sent for approval
    IF EXISTS (
        SELECT 1 
        FROM TaskEntries 
        WHERE UserId = @UserId 
          AND CAST(TaskDate AS DATE) = @TaskDate 
          AND IsSendForApproval = 'Y'
    )
    BEGIN
        SET @ResultMessage = 'Already sent for approval!';
        RETURN;
    END

    -- Step 2: Get Description
    DECLARE @Description VARCHAR(100);

    SELECT TOP 1 @Description = LTRIM(RTRIM(LOWER(Description)))
    FROM TaskEntries
    WHERE UserId = @UserId AND CAST(TaskDate AS DATE) = @TaskDate;

    -- Step 3: Based on Description, update appropriate flag only
    IF @Description = 'holiday'
    BEGIN
        UPDATE TaskEntries
        SET IsHoliday = 'Y',IsSendForApproval = 'Y'
        WHERE UserId = @UserId AND CAST(TaskDate AS DATE) = @TaskDate;

        SET @ResultMessage = 'Holiday marked.';
    END
    ELSE IF @Description = 'leave'
    BEGIN
        UPDATE TaskEntries
        SET IsLeave = 'Y',IsSendForApproval = 'Y'
        WHERE UserId = @UserId AND CAST(TaskDate AS DATE) = @TaskDate;

        SET @ResultMessage = 'Leave marked.';
    END
    ELSE IF @Description = 'weekly'
    BEGIN
        UPDATE TaskEntries
        SET IsWeeklyOff = 'Y',IsSendForApproval = 'Y'
        WHERE UserId = @UserId AND CAST(TaskDate AS DATE) = @TaskDate;

        SET @ResultMessage = 'Weekly off marked.';
    END
    ELSE IF @Description = 'comp'
    BEGIN
        UPDATE TaskEntries
        SET IsCompOff = 'Y',IsSendForApproval = 'Y'
        WHERE UserId = @UserId AND CAST(TaskDate AS DATE) = @TaskDate;

        SET @ResultMessage = 'Comp-off marked.';
    END
    ELSE IF @Description IS NOT NULL AND @Description <> ''
    BEGIN
        UPDATE TaskEntries
        SET IsPending = 'Y',IsSendForApproval = 'Y'
        WHERE UserId = @UserId AND CAST(TaskDate AS DATE) = @TaskDate;

        SET @ResultMessage = 'Other entry marked as pending.';
    END
    ELSE
    BEGIN
        SET @ResultMessage = 'No valid description found to mark.';
    END
END

GO
/****** Object:  StoredProcedure [dbo].[PRCGET_UserLogin_N_Page_Name]    Script Date: 11/19/2025 11:34:35 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		kalpana
--- PRCGET_UserLogin_N_Page_Name '100001'
-- =============================================
Create PROCEDURE [dbo].[PRCGET_UserLogin_N_Page_Name]
-- Add the parameters for the stored procedure here
	@UserId varchar(20)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;


IF OBJECT_ID('tempdb..#temp') IS NOT NULL
    DROP TABLE #temp;

SELECT DISTINCT M.Page_name, M.ModuleID
INTO #temp
FROM iUserGrpAcs AS U
INNER JOIN iModule AS M ON M.ModuleID = U.Module_Id
INNER JOIN iUser AS I ON I.UserId = U.UserId
WHERE U.UserId = @UserId
AND M.ParentModuleID IS NULL
ORDER BY M.ModuleID;

SELECT Page_name FROM #temp;


END

GO
/****** Object:  StoredProcedure [dbo].[search_userdetail]    Script Date: 7/18/2025 11:35:39 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[search_userdetail]
    @UserId VARCHAR(50) = NULL,
    @UserLoginName VARCHAR(50) = NULL
AS
BEGIN
    PRINT 'UserId = ' + ISNULL(@UserId, 'NULL');
    PRINT 'UserLoginName = ' + ISNULL(@UserLoginName, 'NULL');

    IF (@UserLoginName IS NULL OR @UserLoginName = '')
    BEGIN
        SELECT UserId, UserLoginName ,
		CASE
            WHEN LogonFailureCount < 3
                 AND LastPINChangeDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND LastAccessDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND (IneffectiveDate IS NULL OR IneffectiveDate > CAST(GETDATE() AS DATE))
            THEN 'Active'
            ELSE 'Inactive'
        END AS Status
        FROM iUser 
        WHERE (@UserId IS NULL OR UserId = @UserId)
    END
    ELSE IF (@UserId IS NULL OR @UserId = '')
    BEGIN
        SELECT UserId, UserLoginName ,
		CASE
            WHEN LogonFailureCount < 3
                 AND LastPINChangeDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND LastAccessDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND (IneffectiveDate IS NULL OR IneffectiveDate > CAST(GETDATE() AS DATE))
            THEN 'Active'
            ELSE 'Inactive'
        END AS Status
        FROM iUser 
        WHERE (@UserLoginName IS NULL OR UserLoginName = @UserLoginName);
    END
    ELSE
    BEGIN
        SELECT UserId, UserLoginName  ,
		CASE
            WHEN LogonFailureCount < 3
                 AND LastPINChangeDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND LastAccessDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND (IneffectiveDate IS NULL OR IneffectiveDate > CAST(GETDATE() AS DATE))
            THEN 'Active'
            ELSE 'Inactive'
        END AS Status
        FROM iUser 
        WHERE        (@UserId IS NULL OR UserId = @UserId)
        AND (@UserLoginName IS NULL OR UserLoginName = @UserLoginName);

    END
END;
GO

--15082025 New 
USE [kalpana]
GO
/****** Object:  StoredProcedure [dbo].[UpdateEmployeeManager]    Script Date: 15-08-2025 18:09:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[UpdateEmployeeManager]
    @EmployeeId NVARCHAR(50),
    @ManagerId NVARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CreateDTim DATETIME = GETDATE();

    -- Update manager for the user
    UPDATE iuser
    SET ManagerId = @ManagerId
    WHERE UserId = @EmployeeId;

    -- Insert into iUserGrpAcs
    INSERT INTO iUserGrpAcs
    (
        CarrierCode,
        UserId,
        Module_Id,
        UserGroupCode,
        UserGroupName,
        Access,
        CrecatedBy,
        CreateDTim,
        UpdatedBy,
        UpdateDTim
    )
    VALUES
    (
        '99',
        @EmployeeId,
        '5000',
        'Admin',
        'Admin',
        '1',
        'BotCrecatedBy',
        @CreateDTim,
        NULL,
        NULL
    );
END

