---Hrutik
USE [kalpana]
GO
/****** Object:  Table [dbo].[CalendarStatus]    Script Date: 7/18/2025 11:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CalendarStatus](
	[StatusDate] [date] NOT NULL,
	[StatusType] [varchar](50) NULL,
	[UserId] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatusDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ErrorLog]    Script Date: 7/18/2025 11:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ErrorLog](
	[ErrorId] [int] IDENTITY(1000,1) NOT NULL,
	[ErrorMessage] [nvarchar](1000) NULL,
	[MethodName] [nvarchar](255) NULL,
	[ErrorDateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ErrorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[iModule]    Script Date: 7/18/2025 11:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iModule](
	[ModuleID] [int] NOT NULL,
	[ModuleCode] [varchar](100) NULL,
	[ParentModuleID] [int] NULL,
	[RootModuleID] [int] NULL,
	[ModuleName] [varchar](100) NULL,
	[ModuleSequence] [int] NULL,
	[ModuleStatus] [int] NULL,
	[ModuleLevel] [int] NULL,
	[TargetName] [varchar](100) NULL,
	[CarrierCode] [int] NULL,
	[AppID] [int] NULL,
	[Page_name] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[ModuleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[iUser]    Script Date: 7/18/2025 11:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iUser](
	[UserId] [varchar](20) NOT NULL,
	[UserStatus] [smallint] NULL,
	[UserLoginName] [varchar](20) NULL,
	[UserPIN] [varchar](130) NULL,
	[LastPINChangeDate] [datetime] NULL,
	[LastAccessDate] [datetime] NULL,
	[LogonFailureCount] [int] NULL,
	[UserEmailId] [varchar](50) NULL,
	[UserMobileNo1] [varchar](20) NULL,
	[LastAttemptDate] [datetime] NULL,
	[IneffectiveDate] [datetime] NULL,
	[DOB] [date] NULL,
	[CreatedBy] [varchar](50) NULL,
	[CreatedDtim] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[UpdatedDtim] [datetime] NULL,
	[EffectiveDtim] [datetime] NULL,
	[CurrentLoginDate] [datetime] NULL,
	[PrevLoginDate] [datetime] NULL,
	[AuthType] [varchar](5) NULL,
	[ManagerId] [varchar](20) NULL,
	[User_type] [varchar](2) NULL,
 CONSTRAINT [PK_iUser_1] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 90, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[iUserGrpAcs]    Script Date: 7/18/2025 11:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[iUserGrpAcs](
	[Mapping_Code] [int] IDENTITY(5000,1) NOT NULL,
	[CarrierCode] [int] NULL,
	[UserId] [varchar](20) NOT NULL,
	[Module_Id] [int] NOT NULL,
	[UserGroupCode] [varchar](20) NULL,
	[UserGroupName] [varchar](20) NULL,
	[Access] [varchar](20) NULL,
	[CrecatedBy] [varchar](50) NULL,
	[CreateDTim] [datetime] NULL,
	[UpdatedBy] [varchar](50) NULL,
	[UpdateDTim] [datetime] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAP_designation_UserId]    Script Date: 7/18/2025 11:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAP_designation_UserId](
	[MAP_Code] [int] IDENTITY(500,1) NOT NULL,
	[UserId] [varchar](20) NULL,
	[Des_ID] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MST_designation]    Script Date: 7/18/2025 11:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MST_designation](
	[Des_ID] [int] IDENTITY(1,1) NOT NULL,
	[Des_Name] [varchar](50) NULL,
 CONSTRAINT [PK_MST_designation] PRIMARY KEY CLUSTERED 
(
	[Des_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskEntries]    Script Date: 7/18/2025 11:31:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskEntries](
	[TaskID] [int] IDENTITY(1,1) NOT NULL,
	[TaskDate] [date] NULL,
	[Description] [nvarchar](255) NULL,
	[TimeSpent] [time](7) NULL,
	[Type] [varchar](50) NULL,
	[WorkCompletion] [varchar](5) NULL,
	[UserId] [varchar](20) NULL,
	[IsSendForApproval] [char](1) NOT NULL,
	[IsPending] [char](1) NOT NULL,
	[IsInYourBucket] [char](1) NOT NULL,
	[IsHoliday] [char](1) NOT NULL,
	[IsLeave] [char](1) NOT NULL,
	[IsWeeklyOff] [char](1) NOT NULL,
	[IsCompOff] [char](1) NOT NULL,
	[IsApproval] [char](1) NULL,
 CONSTRAINT [PK__TaskEntr__7C6949D182ADB902] PRIMARY KEY CLUSTERED 
(
	[TaskID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[CalendarStatus] ([StatusDate], [StatusType], [UserId]) VALUES (CAST(N'2025-06-01' AS Date), N'Approved', N'100000')
INSERT [dbo].[CalendarStatus] ([StatusDate], [StatusType], [UserId]) VALUES (CAST(N'2025-06-02' AS Date), N'Approved', N'100000')
INSERT [dbo].[CalendarStatus] ([StatusDate], [StatusType], [UserId]) VALUES (CAST(N'2025-06-03' AS Date), N'Pending', N'100000')
GO
SET IDENTITY_INSERT [dbo].[ErrorLog] ON 

INSERT [dbo].[ErrorLog] ([ErrorId], [ErrorMessage], [MethodName], [ErrorDateTime]) VALUES (1000, N'Must declare the scalar variable "@Userid".', N'btnlogin_Click', CAST(N'2025-07-11T21:43:27.457' AS DateTime))
INSERT [dbo].[ErrorLog] ([ErrorId], [ErrorMessage], [MethodName], [ErrorDateTime]) VALUES (1001, N'Thread was being aborted.', N'btnlogin_Click', CAST(N'2025-07-12T18:42:30.963' AS DateTime))
INSERT [dbo].[ErrorLog] ([ErrorId], [ErrorMessage], [MethodName], [ErrorDateTime]) VALUES (1002, N'Thread was being aborted.', N'btnlogin_Click', CAST(N'2025-07-12T18:42:30.963' AS DateTime))
SET IDENTITY_INSERT [dbo].[ErrorLog] OFF
GO
INSERT [dbo].[iModule] ([ModuleID], [ModuleCode], [ParentModuleID], [RootModuleID], [ModuleName], [ModuleSequence], [ModuleStatus], [ModuleLevel], [TargetName], [CarrierCode], [AppID], [Page_name]) VALUES (1000, N'employee timesheet', NULL, 1000, N'employee timesheet', NULL, 0, 0, NULL, 0, NULL, N'timesheet.aspx')
INSERT [dbo].[iModule] ([ModuleID], [ModuleCode], [ParentModuleID], [RootModuleID], [ModuleName], [ModuleSequence], [ModuleStatus], [ModuleLevel], [TargetName], [CarrierCode], [AppID], [Page_name]) VALUES (1001, N'timesheet download', 1000, 1000, N'timesheet download', NULL, 0, 0, NULL, 0, NULL, N'timesheet.aspx')
INSERT [dbo].[iModule] ([ModuleID], [ModuleCode], [ParentModuleID], [RootModuleID], [ModuleName], [ModuleSequence], [ModuleStatus], [ModuleLevel], [TargetName], [CarrierCode], [AppID], [Page_name]) VALUES (4000, N'employee DtIs', NULL, 4000, N'employee DtIs', NULL, 0, 0, NULL, 0, NULL, N'CreateUpdateUser.aspx')
GO
SET IDENTITY_INSERT [dbo].[iUserGrpAcs] ON 

INSERT [dbo].[iUserGrpAcs] ([Mapping_Code], [CarrierCode], [UserId], [Module_Id], [UserGroupCode], [UserGroupName], [Access], [CrecatedBy], [CreateDTim], [UpdatedBy], [UpdateDTim]) VALUES (5000, 99, N'100000', 1000, N'Admin', N'Admin', N'1', N'SYS-Admin', CAST(N'2025-06-07T19:49:26.887' AS DateTime), NULL, NULL)
INSERT [dbo].[iUserGrpAcs] ([Mapping_Code], [CarrierCode], [UserId], [Module_Id], [UserGroupCode], [UserGroupName], [Access], [CrecatedBy], [CreateDTim], [UpdatedBy], [UpdateDTim]) VALUES (5003, 99, N'100000', 1001, N'Admin', N'Admin', N'1', N'SYS-Admin', CAST(N'2025-06-07T19:49:26.887' AS DateTime), NULL, NULL)
INSERT [dbo].[iUserGrpAcs] ([Mapping_Code], [CarrierCode], [UserId], [Module_Id], [UserGroupCode], [UserGroupName], [Access], [CrecatedBy], [CreateDTim], [UpdatedBy], [UpdateDTim]) VALUES (5004, 99, N'100000', 4000, N'Admin', N'Admin', N'1', N'SYS-Admin', CAST(N'2025-06-07T19:49:26.887' AS DateTime), NULL, NULL)

SET IDENTITY_INSERT [dbo].[iUserGrpAcs] OFF
GO
SET IDENTITY_INSERT [dbo].[MAP_designation_UserId] ON 

INSERT [dbo].[MAP_designation_UserId] ([MAP_Code], [UserId], [Des_ID]) VALUES (506, N'100000', 5)
INSERT [dbo].[MAP_designation_UserId] ([MAP_Code], [UserId], [Des_ID]) VALUES (507, N'100001', 4)
INSERT [dbo].[MAP_designation_UserId] ([MAP_Code], [UserId], [Des_ID]) VALUES (515, N'100024', 3)
SET IDENTITY_INSERT [dbo].[MAP_designation_UserId] OFF
GO
SET IDENTITY_INSERT [dbo].[MST_designation] ON 

INSERT [dbo].[MST_designation] ([Des_ID], [Des_Name]) VALUES (1, N'Developer')
INSERT [dbo].[MST_designation] ([Des_ID], [Des_Name]) VALUES (2, N'Support')
INSERT [dbo].[MST_designation] ([Des_ID], [Des_Name]) VALUES (3, N'Tester')
SET IDENTITY_INSERT [dbo].[MST_designation] OFF
GO
SET IDENTITY_INSERT [dbo].[TaskEntries] ON 

INSERT [dbo].[TaskEntries] ([TaskID], [TaskDate], [Description], [TimeSpent], [Type], [WorkCompletion], [UserId], [IsSendForApproval], [IsPending], [IsInYourBucket], [IsHoliday], [IsLeave], [IsWeeklyOff], [IsCompOff], [IsApproval]) VALUES (2, CAST(N'2025-06-02' AS Date), N'Holiday', CAST(N'12:00:00' AS Time), NULL, NULL, N'100000', N'Y', N'N', N'Y', N'N', N'N', N'N', N'N', NULL)
INSERT [dbo].[TaskEntries] ([TaskID], [TaskDate], [Description], [TimeSpent], [Type], [WorkCompletion], [UserId], [IsSendForApproval], [IsPending], [IsInYourBucket], [IsHoliday], [IsLeave], [IsWeeklyOff], [IsCompOff], [IsApproval]) VALUES (3, CAST(N'2025-06-03' AS Date), N'Holiday', CAST(N'12:00:00' AS Time), NULL, NULL, N'100000', N'N', N'Y', N'Y', N'N', N'N', N'N', N'N', NULL)
INSERT [dbo].[TaskEntries] ([TaskID], [TaskDate], [Description], [TimeSpent], [Type], [WorkCompletion], [UserId], [IsSendForApproval], [IsPending], [IsInYourBucket], [IsHoliday], [IsLeave], [IsWeeklyOff], [IsCompOff], [IsApproval]) VALUES (4, CAST(N'2025-06-04' AS Date), N'Holiday', CAST(N'12:00:00' AS Time), NULL, NULL, N'100000', N'N', N'N', N'Y', N'Y', N'N', N'N', N'N', NULL)
SET IDENTITY_INSERT [dbo].[TaskEntries] OFF
GO
ALTER TABLE [dbo].[TaskEntries] ADD  DEFAULT ('N') FOR [IsSendForApproval]
GO
ALTER TABLE [dbo].[TaskEntries] ADD  DEFAULT ('N') FOR [IsPending]
GO
ALTER TABLE [dbo].[TaskEntries] ADD  DEFAULT ('N') FOR [IsInYourBucket]
GO
ALTER TABLE [dbo].[TaskEntries] ADD  DEFAULT ('N') FOR [IsHoliday]
GO
ALTER TABLE [dbo].[TaskEntries] ADD  DEFAULT ('N') FOR [IsLeave]
GO
ALTER TABLE [dbo].[TaskEntries] ADD  DEFAULT ('N') FOR [IsWeeklyOff]
GO
ALTER TABLE [dbo].[TaskEntries] ADD  DEFAULT ('N') FOR [IsCompOff]
GO
ALTER TABLE [dbo].[iUserGrpAcs]  WITH CHECK ADD  CONSTRAINT [FK_iUserGrpAcs_iModule] FOREIGN KEY([Module_Id])
REFERENCES [dbo].[iModule] ([ModuleID])
GO
ALTER TABLE [dbo].[iUserGrpAcs] CHECK CONSTRAINT [FK_iUserGrpAcs_iModule]
GO
ALTER TABLE [dbo].[iUserGrpAcs]  WITH CHECK ADD  CONSTRAINT [FK_iUserGrpAcs_iUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[iUser] ([UserId])
GO
ALTER TABLE [dbo].[iUserGrpAcs] CHECK CONSTRAINT [FK_iUserGrpAcs_iUser]
GO
ALTER TABLE [dbo].[MAP_designation_UserId]  WITH CHECK ADD  CONSTRAINT [FK_MAP_designation_UserId_iUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[iUser] ([UserId])
GO
ALTER TABLE [dbo].[MAP_designation_UserId] CHECK CONSTRAINT [FK_MAP_designation_UserId_iUser]
GO
ALTER TABLE [dbo].[MAP_designation_UserId]  WITH CHECK ADD  CONSTRAINT [FK_MAP_designation_UserId_MST_designation] FOREIGN KEY([Des_ID])
REFERENCES [dbo].[MST_designation] ([Des_ID])
GO
ALTER TABLE [dbo].[MAP_designation_UserId] CHECK CONSTRAINT [FK_MAP_designation_UserId_MST_designation]
GO
ALTER TABLE [dbo].[MST_designation]  WITH CHECK ADD  CONSTRAINT [FK_MST_designation_MST_designation] FOREIGN KEY([Des_ID])
REFERENCES [dbo].[MST_designation] ([Des_ID])
GO
ALTER TABLE [dbo].[MST_designation] CHECK CONSTRAINT [FK_MST_designation_MST_designation]
GO
