USE [kalpana]
GO
/****** Object:  StoredProcedure [dbo].[GetTaskSummaryWithTotal]    Script Date: 11/19/2025 11:52:10 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--GetTaskSummaryWithTotal '100000','10','2025'
ALTER PROCEDURE [dbo].[GetTaskSummaryWithTotal]
    @UserId INT,
    @Month INT,
    @Year INT
AS
BEGIN
    SET NOCOUNT ON; -- Prevents the message showing the count of rows affected

    -- 1. DETAILED ROWS QUERY (Grouped by status)
    SELECT
        CASE
            WHEN IsHoliday = 'Y' THEN 'Holiday'
            WHEN IsLeave = 'Y' THEN 'Leave'
            WHEN IsWeeklyOff = 'Y' THEN 'Weekly Off'
            WHEN IsCompOff = 'Y' THEN 'Comp Off'
            ELSE 'Work'
        END AS Status,
        COUNT(TaskDate) AS [Total Days],
        ROUND(SUM(DATEDIFF(SECOND, '00:00:00.0000000', TimeSpent) / 3600.0), 2) AS [Total TimeSpent Hours]
    FROM
        kalpana..TaskEntries
    WHERE
        UserId = @UserId
        AND IsApproval = 'Y'
        AND MONTH(TaskDate) = @Month
        AND YEAR(TaskDate) = @Year
    GROUP BY
        CASE
            WHEN IsHoliday = 'Y' THEN 'Holiday'
            WHEN IsLeave = 'Y' THEN 'Leave'
            WHEN IsWeeklyOff = 'Y' THEN 'Weekly Off'
            WHEN IsCompOff = 'Y' THEN 'Comp Off'
            ELSE 'Work'
        END

    UNION ALL

    -- 2. TOTAL ROW QUERY (Aggregates the whole filtered set)
    SELECT
        'Grand Total' AS Status, -- Renamed from 'Total' to 'Grand Total' for clarity
        COUNT(TaskDate) AS [Total Days],
        ROUND(SUM(DATEDIFF(SECOND, '00:00:00.0000000', TimeSpent) / 3600.0), 2) AS [Total TimeSpent Hours]
    FROM
        kalpana..TaskEntries
    WHERE
        UserId = @UserId
        AND IsApproval = 'Y'
        AND MONTH(TaskDate) = @Month
        AND YEAR(TaskDate) = @Year

    -- 3. FINAL ORDERING
    ORDER BY
        [Total Days];
END
