USE [kalpana]
GO
/****** Object:  StoredProcedure [dbo].[search_userdetail]    Script Date: 12/18/2025 11:18:38 PM ******/
--search_userdetail '','','Active'
--search_userdetail '100000','',''
--search_userdetail '','kal',''
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER PROCEDURE [dbo].[search_userdetail]
    @UserId VARCHAR(50) = NULL,
    @UserLoginName VARCHAR(50) = NULL,
	 @Status NVARCHAR(20) = NULL
AS
BEGIN
    PRINT 'UserId = ' + ISNULL(@UserId, 'NULL');
    PRINT 'UserLoginName = ' + ISNULL(@UserLoginName, 'NULL');


    IF (@Status IS  not NULL)
    BEGIN
        SELECT UserId, UserLoginName ,
		CASE
            WHEN LogonFailureCount < 3
                 AND LastPINChangeDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND LastAccessDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND (IneffectiveDate IS NULL OR IneffectiveDate > CAST(GETDATE() AS DATE))
            THEN 'Active'
            ELSE 'Inactive'
        END AS Status into #temp
        FROM iUser 
        
		select * from #temp WHERE  Status = @Status;
		drop table #temp 
    END
    ELSE IF (@UserLoginName IS NULL OR @UserLoginName = '')
    BEGIN
        SELECT UserId, UserLoginName ,
		CASE
            WHEN LogonFailureCount < 3
                 AND LastPINChangeDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND LastAccessDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND (IneffectiveDate IS NULL OR IneffectiveDate > CAST(GETDATE() AS DATE))
            THEN 'Active'
            ELSE 'Inactive'
        END AS Status
        FROM iUser 
        WHERE (@UserId IS NULL OR UserId = @UserId)
    END
    ELSE IF (@UserId IS NULL OR @UserId = '')
    BEGIN
        SELECT UserId, UserLoginName ,
		CASE
            WHEN LogonFailureCount < 3
                 AND LastPINChangeDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND LastAccessDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND (IneffectiveDate IS NULL OR IneffectiveDate > CAST(GETDATE() AS DATE))
            THEN 'Active'
            ELSE 'Inactive'
        END AS Status
        FROM iUser 
        WHERE (@UserLoginName IS NULL OR UserLoginName LIKE '%' + @UserLoginName + '%');
    END


    ELSE
    BEGIN
        SELECT UserId, UserLoginName  ,
		CASE
            WHEN LogonFailureCount < 3
                 AND LastPINChangeDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND LastAccessDate >= DATEADD(MONTH, -1, CAST(GETDATE() AS DATE))
                 AND (IneffectiveDate IS NULL OR IneffectiveDate > CAST(GETDATE() AS DATE))
            THEN 'Active'
            ELSE 'Inactive'
        END AS Status
        FROM iUser 
        WHERE        (@UserId IS NULL OR UserId = @UserId)
        AND (@UserLoginName IS NULL OR UserLoginName LIKE '%' + @UserLoginName + '%');

    END
END;
